<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .tooltip2 {
        position: relative;
        display: inline-block;
      }

      .tooltip-text2 {
        visibility: hidden;
        width: 9rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        text-align: start;
        border-radius: 0.25rem;
        padding: 0.5rem;
        position: absolute;
        z-index: 1;
        top: 18%; /* Posição abaixo do elemento pai */
        left: 150%;
        margin-left: -35%; /* Metade da largura */
        opacity: 0;
        transition: opacity 0.5s;
      }

      .tooltip2:hover .tooltip-text2 {
        visibility: visible;
        opacity: 0.7;
      }

      .tooltip {
        position: relative;
        display: inline-block;
      }

      .tooltip-text {
        visibility: hidden;
        width: 8rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        text-align: center;
        border-radius: 0.25rem;
        padding: 0.5rem;
        position: absolute;
        z-index: 1;
        top: 115%; /* Posição abaixo do elemento pai */
        right: 1%;
        margin-right: -50%; /* Metade da largura */
        opacity: 0;
        transition: opacity 0.3s;
      }

      .tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
      }

      .search-input {
        border-radius: 0.5rem;
        background-color: rgb(156, 163, 175);
        color: rgb(0, 0, 0);
        /* animação de transição para a cor de fundo e transformação */
      }

      .search-input::placeholder {
        outline: none;
        color: rgb(0, 0, 0); /* cor do texto de dica */
      }

      .search-input:hover {
        background-color: rgb(
          134,
          239,
          172
        ); /* cor de fundo ao passar o mouse */
        transform: scale(1.05);
        transition: background-color 1s cubic-bezier(0.075, 0.82, 1, 1),
          /* efeito de escala ao passar o mouse */ transform 0.6s
            cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      .sidebar-icon {
        border-radius: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
          border-radius 1s cubic-bezier(0.075, 0.82, 0.165, 1),
          transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      .sidebar-icon:active {
        border: 1px black solid;
      }

      .sidebar-icon:hover {
        background-color: rgb(
          134,
          239,
          172
        ); /* Cor de fundo acinzentada ao passar o mouse */
        border-radius: 0.75rem; /* Arredondamento de borda */
        transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
      }

      .sidebar-icon img {
        transition: transform 0.3s ease;
      }

      .sidebar-icon:hover img {
        transform: scale(1);
      }

      .sidebar-icon:hover + .popup {
        display: block;
      }

      .dropdown-selection {
        transition: background-color 0.5s, color 0.3s;
        border-radius: 0.5rem;
        opacity: 0.85; /* Adicione a transição */
      }

      .dropdown-selection:hover {
        background-color: rgba(169, 169, 169, 0.2);
        color: rgb(255, 255, 255); /* Altere a cor de fundo no hover */
      }

      .dropdown-selection-text:hover {
        color: rgb(210, 210, 210); /* Altere a cor do texto no hover */
      }
    </style>
  </head>
  <body>

    <!----------------------------------------------- BARRA LATERAL COM BOTÕES ----------------------------------------------->
    <div
      id="sidebar"
      class="fixed top-0 left-0 h-screen w-20 flex flex-col items-center bg-gray-700 dark:bg-gray-900 shadow-lg divide-y-2 divide-green-300"
    >
      <div class="tooltip2">
        <div class="relative group">
          <div
            id="configuration"
            class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400 cursor-pointer"
            onclick="handleIconClick('configuration')"
          >
            <img
              src="/res/sidebar/fire.jpg"
              alt="Fire Icon"
              class="w-10 h-10 my-auto"
            />
          </div>
          <div class="tooltip-text2">Inicio</div>
        </div>
      </div>

      <div>

        <div class="tooltip2 ml-2">
          <div class="relative group">
            <div
              id="chanels"
              class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400 cursor-pointer"
              onclick="handleIconClick('chanels')"
            >
              <img
                src="/res/sidebar/unknow.jpg"
                alt="Fire Icon"
                class="w-11 h-11 my-auto"
              />
            </div>
            <div class="tooltip-text2">Funções</div>
          </div>
        </div>

        <div class="tooltip2 ml-2">
          <div class="relative group">
            <div
              id="guild"
              class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400 cursor-pointer"
              onclick="handleIconClick('guild')"
            >
              <img
                src="/res/sidebar/database.jpg"
                alt="Fire Icon"
                class="w-10 h-10 my-auto"
              />
            </div>
            <div class="tooltip-text2">Banco de Dados</div>
          </div>
        </div>

        <div class="tooltip2 ml-2">
          <div class="relative group">
            <div
              id="user"
              class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400 cursor-pointer"
              onclick="handleIconClick('user')"
            >
              <img
                src="/res/sidebar/gear2.jpg"
                alt="Fire Icon"
                class="w-11 h-11 ml-1.5 my-auto"
              />
            </div>
            <div class="tooltip-text2">Info da Guilda</div>
          </div>
        </div>

      </div>

      <div class="tooltip2">
        <div class="relative group">
          <div
            id="usage"
            class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400 cursor-pointer"
            onclick="handleIconClick('usage')"
          >
            <img
              src="/res/sidebar/gear.jpg"
              alt="Fire Icon"
              class="w-11 h-11 ml-0.5 my-2"
            />
          </div>
          <div class="tooltip-text2">Configurações</div>
        </div>
      </div>

    </div>
    <!----------------------------------------------- BARRA LATERAL COM BOTÕES ----------------------------------------------->
    
    <!------------------------------------------------------------------------------------------------------------------------>
    
    <!----------------------------------------------- MENU LATERAL COM OPÇÕES  ----------------------------------------------->
    <div
      id="channel-bar"
      style="z-index: -1"
      class="fixed top-0 left-20 h-screen w-52 flex flex-col items-start bg-gray-600 dark:bg-gray-900 shadow-lg"
    >

    <div id="configuration-sidebar" class="configuration-block divide-y-2 divide-green-300 mx-4 my-2">
      <h5 class="text-xl channel-block-text font-bold mb-2 cursor-default">Inicio</h5>
      
      <div class="channel-bar-container">

        <div class="dropdown border-discord-light mt-2" onclick="toggleDropdown('home')">
          <div class="dropdown-header flex items-center">
            <!-- Substitua o ícone existente pelo ícone de jogo da velha do Heroicons -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
            <h5 id="home-header" class="dropdown-header-text text-sm ml-2 cursor-pointer">Informações da Guilda</h5>
          </div>
          
          <div id="home-dropdown" class="dropdown-content hidden ml-4 text-sm">
            <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('server')">

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
              <h5 class="dropdown-selection-text">! Server</h5>
            </div>
          </div>
        </div>
        
        <!-- Dropdown "Informações do Bot" -->
        <div class="dropdown border-discord-light mt-2" onclick="toggleDropdown('moderation')">
          <div class="dropdown-header flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
            <h5 id="moderation-header" class="dropdown-header-text text-sm ml-2 cursor-pointer">Informações do Bot</h5>
          </div>
          <div id="moderation-dropdown" class="dropdown-content hidden ml-4 text-sm">
            <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('status')">
              <!-- Substitua o ícone existente pela seta para a direita do Heroicons -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
              <h5 class="dropdown-selection-text">! Status</h5>
            </div>
          </div>
        </div>
    
        <!-- Top Bar -->
        <div id="top-bar" class="fixed top-0 left-72 right-0 h-12 flex bg-gray-600 dark:bg-gray-900 shadow-lg divide-y-2 divide-green-300">
          <div class="flex items-center my-auto ml-4">
            <h5 class="text-xl channel-block-text font-bold cursor-default"># Inicio</h5>
          </div>
          <div class="flex items-center ml-auto mr-4">
            <input id="searchInput" class="search-input w-48" type="text" placeholder=" Ajuda ?" />
          </div>
          <div class="tooltip mr-4">
            <div class="relative group">
              <div class="flex justify-center sidebar-icon w-8 h-8 bg-gray-400">
                <img class="h-8 w-8 my rounded-full" id="minhaImagem" alt="Minha Imagem" />
              </div>
              <div class="tooltip-text">Alterar servidor</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="chanels-sidebar" class="chanels-block divide-y-2 divide-green-300 mx-4 my-2 hidden">
      <h5 class="text-xl channel-block-text font-bold mb-2 cursor-default">Funções</h5>

      <div class="channel-bar-container">

        <div class="dropdown border-discord-light mt-2" onclick="toggleDropdown('funcs')">
          <div class="dropdown-header flex items-center">
            <!-- Substitua o ícone existente pelo ícone de jogo da velha do Heroicons -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
            <h5 id="funcs-header" class="dropdown-header-text text-sm ml-2 cursor-pointer">Funções de notificação</h5>
          </div>

          <div id="funcs-dropdown" class="dropdown-content hidden ml-4 text-sm">
            
            <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('funcyoutube')">

              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
              <h5 class="dropdown-selection-text">Youtube</h5>
            </div>
            
            <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('functwitch')">
                
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                <h5 class="dropdown-selection-text">Twitch</h5>
            </div>

          </div>
        </div>
        
        <div class="dropdown border-discord-light mt-2" onclick="toggleDropdown('addchannels')">
          <div class="dropdown-header flex items-center">
            <!-- Substitua o ícone existente pelo ícone de jogo da velha do Heroicons -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
            <h5 id="addchannels-header" class="dropdown-header-text text-sm ml-2 cursor-pointer">Canais para notificação</h5>
          </div>

          <div id="addchannels-dropdown" class="dropdown-content hidden ml-4 text-sm">
              
            <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('ytbchannelupdate')">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                <h5 class="dropdown-selection-text">Youtube</h5>
            </div>

            <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('tchchannelupdate')">
                
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                <h5 class="dropdown-selection-text">Twitch</h5>
            </div>

          </div>
        </div>

        <div class="dropdown border-discord-light mt-2 no-close-dropdown" onclick="toggleDropdown('statefuncs')">
          <div class="dropdown-header flex items-center">
            <!-- Substitua o ícone existente pelo ícone de jogo da velha do Heroicons -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
            <h5 id="statefuncs-header" class="dropdown-header-text text-sm ml-2 cursor-pointer">Estado das funções</h5>
          </div>

            <div id="statefuncs-dropdown" class="dropdown-content hidden ml-4 text-sm">

              <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('statesinfo')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                <h5 class="dropdown-selection-text">Informações</h5>
              </div>

            </div>
        </div>

        <div id="top-bar" class="fixed top-0 left-72 right-0 h-12 flex bg-gray-600 dark:bg-gray-900 shadow-lg divide-y-2 divide-green-300">
            <div class="flex items-center my-auto ml-4">
              <h5 class="text-xl channel-block-text font-bold cursor-default">
                # Funções
              </h5>
            </div>

            <div class="flex items-center ml-auto mr-4">
              <input
                id="searchInput"
                class="search-input w-48"
                type="text"
                placeholder=" Ajuda ?"
              />
            </div>

            <div class="tooltip mr-4">
              <div class="relative group">
                <div
                  class="flex justify-center sidebar-icon w-8 h-8 bg-gray-400"
                >
                  <img
                    class="h-8 w-8 my rounded-full"
                    id="minhaImagem2"
                    alt="Minha Imagem"
                  />
                </div>
                <div class="tooltip-text">Alterar servidor</div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div id="guild-sidebar" class="guild-block divide-y-2 divide-green-300 mx-4 my-2 hidden" >
      <h5 class="text-xl channel-block-text font-bold mb-2 cursor-default">Banco de Dados</h5>

      <div class="channel-bar-container">

        <div class="dropdown border-discord-light mt-2" onclick="toggleDropdown('channels')">
            <div class="dropdown-header flex items-center">
              <!-- Substitua o ícone existente pelo ícone de jogo da velha do Heroicons -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
              </svg>
              <h5 id="statefuncs-header" class="dropdown-header-text text-sm ml-2 cursor-pointer">Youtube channels</h5>
            </div>

            <div id="channels-dropdown" class="dropdown-content hidden ml-4 text-sm">
              <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('addytbchannel')">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                <h5 class="dropdown-selection-text">Adicionar canais</h5>
              </div>

              <div class="dropdown-selection cursor-pointer no-close-dropdown flex itens-center" onclick="selectTopic('viewytbchannels')">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                <h5 class="dropdown-selection-text">Visualizar canais</h5>
              </div>
            </div>

        </div>


        <div class="dropdown border-discord-light mt-2" onclick="toggleDropdown('videos')">
            <div class="dropdown-header flex items-center">
              <!-- Substitua o ícone existente pelo ícone de jogo da velha do Heroicons -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
              </svg>
              <h5 id="videos-header" class="dropdown-header-text text-sm ml-2 cursor-pointer">Twitch streams</h5>
            </div>

            <div id="videos-dropdown" class="dropdown-content hidden ml-4 text-sm">
              <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('addtchchannel')">
                
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                <h5 class="dropdown-selection-text">Adicionar lives</h5>
              </div>
              
              <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('viewtchchannel')">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                <h5 class="dropdown-selection-text">Visualizar lives</h5>
              </div>
            </div>

        </div>

        <div id="top-bar" class="fixed top-0 left-72 right-0 h-12 flex bg-gray-600 dark:bg-gray-900 shadow-lg divide-y-2 divide-green-300">
            <div class="flex items-center my-auto ml-4">
              <h5 class="text-xl channel-block-text font-bold cursor-default">
                # Banco de Dados
              </h5>
            </div>

            <div class="flex items-center ml-auto mr-4">
              <input
                id="searchInput"
                class="search-input w-48"
                type="text"
                placeholder=" Ajuda ?"
              />
            </div>

            <div class="tooltip mr-4">
              <div class="relative group">
                <div
                  class="flex justify-center sidebar-icon w-8 h-8 bg-gray-400"
                >
                  <img
                    class="h-8 w-8 my rounded-full"
                    id="minhaImagem3"
                    alt="Minha Imagem"
                  />
                </div>
                <div class="tooltip-text">Alterar servidor</div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div id="user-sidebar" class="configuration-block divide-y-2 divide-green-300 mx-4 my-2 hidden">
      <h5 class="text-xl channel-block-text font-bold mb-2 cursor-default">Servidor</h5>
      
      <div class="channel-bar-container">

        <div class="dropdown border-discord-light mt-2" onclick="toggleDropdown('user')">
          <div class="dropdown-header flex items-center">
            <!-- Substitua o ícone existente pelo ícone de jogo da velha do Heroicons -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
            <h5 id="user-header" class="dropdown-header-text text-sm ml-2 cursor-pointer">Membros do servidor</h5>
          </div>
          
          <div id="user-dropdown" class="dropdown-content hidden ml-4 text-sm">
            <div class="dropdown-selection cursor-pointer no-close-dropdown flex items-center" onclick="selectTopic('memberinfo')">
              <!-- Substitua o ícone existente pela seta para a direita do Heroicons -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
              <h5 class="dropdown-selection-text">Mensagens e Voz</h5>
            </div>
          </div>
        </div>
        
        <div id="top-bar" class="fixed top-0 left-72 right-0 h-12 flex bg-gray-600 dark:bg-gray-900 shadow-lg divide-y-2 divide-green-300">
          <div class="flex items-center my-auto ml-4">
            <h5 class="text-xl channel-block-text font-bold cursor-default"># Informações do servidor</h5>
          </div>
          <div class="flex items-center ml-auto mr-4">
            <input id="searchInput" class="search-input w-48" type="text" placeholder=" Ajuda ?" />
          </div>
          <div class="tooltip mr-4">
            <div class="relative group">
              <div class="flex justify-center sidebar-icon w-8 h-8 bg-gray-400">
                <img class="h-8 w-8 my rounded-full" id="minhaImagem4" alt="Minha Imagem" />
              </div>
              <div class="tooltip-text">Alterar servidor</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="usage-sidebar" class="usage-block divide-y-2 divide-green-300 mx-4 my-2 hidden">
        <h5 class="text-xl channel-block-text font-bold mb-2 cursor-default">Configurações</h5>

        <div class="channel-bar-container">

          <div class="dropdown border-discord-light mt-2" onclick="toggleDropdown('usage')">
            <div class="dropdown-header flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
              </svg>
               <h5 id="usage-header" class="dropdown-header-text text-sm ml-2">Funções de notificação</h5>
            </div>

            <div id="usage-dropdown" class="dropdown-content hidden ml-4 text-sm ">
              <div class="dropdown-selection flex items-center" onclick="selectTopic('youtube')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
                <h5 class="dropdown-selection-text">Youtube</h5>
              </div>
            </div>
          </div>

          <div id="top-bar" class="fixed top-0 left-72 right-0 h-12 flex bg-gray-600 dark:bg-gray-900 shadow-lg divide-y-2 divide-green-300">
            <div class="flex items-center my-auto ml-4">
              <h5 class="text-xl channel-block-text font-bold cursor-default">
                # Configurações
              </h5>
            </div>

            <div class="flex items-center ml-auto mr-4">
              <input
                id="searchInput"
                class="search-input w-48"
                type="text"
                placeholder=" Ajuda ?"
              />
            </div>

            <div class="tooltip mr-4">
              <div class="relative group">
                <div
                  class="flex justify-center sidebar-icon w-8 h-8 bg-gray-400"
                >
                  <img
                    class="h-8 w-8 my rounded-full"
                    id="minhaImagem5"
                    alt="Minha Imagem"
                  />
                </div>
                <div class="tooltip-text">Alterar servidor</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!----------------------------------------------- MENU LATERAL COM OPÇÕES  ----------------------------------------------->

    <!------------------------------------------------------------------------------------------------------------------------>

    <!-------------------------------------------------- FUNÇÕES E METODOS  -------------------------------------------------->
    <script>
      var img = parent.user();

      document.getElementById("minhaImagem").src = img;
      document.getElementById("minhaImagem2").src = img;
      document.getElementById("minhaImagem3").src = img;
      document.getElementById("minhaImagem4").src = img;
      document.getElementById("minhaImagem5").src = img;

      function handleIconClick(btnId) {
        const Configuration = document.getElementById(`configuration-sidebar`);
        const Chanels = document.getElementById(`chanels-sidebar`);
        const Guild = document.getElementById(`guild-sidebar`);
        const User = document.getElementById(`user-sidebar`);
        const Usage = document.getElementById(`usage-sidebar`);
        const sidebar = document.getElementById(`${btnId}-sidebar`);

        if (!Configuration.classList.contains("hidden")) {
          Configuration.classList.toggle("hidden");
        }

        if (!Chanels.classList.contains("hidden")) {
          Chanels.classList.toggle("hidden");
        }
        if (!Guild.classList.contains("hidden")) {
          Guild.classList.toggle("hidden");
        }
        if (!User.classList.contains("hidden")) {
          User.classList.toggle("hidden");
        }
        if (!Usage.classList.contains("hidden")) {
          Usage.classList.toggle("hidden");
        }
        sidebar.classList.toggle("hidden");
      }

      function toggleDropdown(dropdownId) {
        var dropdown = document.getElementById(dropdownId + "-dropdown");
        //var chevron = document.getElementById(dropdownId + "-chevron");

        if (
          dropdown.style.display === "none" ||
          dropdown.style.display === ""
        ) {
          dropdown.style.display = "block";
          //chevron.className = "fas fa-chevron-up text-gray-400"; // adjust class for open state
        } else {
          dropdown.style.display = "none";
          //chevron.className = "fas fa-chevron-down text-gray-400"; // adjust class for closed state
        }
      }

      function selectTopic(topic) {
        if (topic === "server") {
          parent.carregarConteudo("server");
          //href ="/bot/pagina/server"
        }
        if (topic === "status") {
          parent.carregarConteudo("status");
          //href ="/bot/pagina/server"
        }
        if (topic === "funcyoutube") {
          parent.carregarConteudo("funcyoutube");
          //href ="/bot/pagina/server"
        }
        if (topic === "functwitch") {
          parent.carregarConteudo("functwitch");
          //href ="/bot/pagina/server"
        }
        if (topic === "ytbchannelupdate") {
          parent.carregarConteudo("ytbchannelupdate");
          //href ="/bot/pagina/server"
        }
        if (topic === "tchchannelupdate") {
          parent.carregarConteudo("tchchannelupdate");
          //href ="/bot/pagina/server"
        }
        if (topic === "statesinfo") {
          parent.carregarConteudo("statesinfo");
          //href ="/bot/pagina/server"
        }
        if (topic === "viewytbchannels") {
          parent.carregarConteudo("viewytbchannels");
          //href ="/bot/pagina/server"
        }
        if (topic === "addytbchannel") {
          parent.carregarConteudo("addytbchannel");
          //href ="/bot/pagina/server"
        }
        if (topic === "viewtchchannel") {
          parent.carregarConteudo("viewtchchannel");
          //href ="/bot/pagina/server"
        }
        if (topic === "addtchchannel") {
          parent.carregarConteudo("addtchchannel");
          //href ="/bot/pagina/server"
        }
        if (topic === "memberinfo") {
          parent.carregarConteudo("memberinfo");
          //href ="/bot/pagina/server"
        }
        console.log(`Selected topic: ${topic}`);
        // Adicione lógica adicional conforme necessário
      }
    </script>
    <!-------------------------------------------------- FUNÇÕES E METODOS  -------------------------------------------------->
  </body>
</html>
