<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Gerenciador de Funções</title>
  </head>
  <body class="bg-yellow-100 min-h-screen flex items-center justify-center">
    <div class="bg-purple-300 p-8 rounded-lg shadow-md w-full max-w-lg">
      
      <div class="px-16 sm:px-0">
        <h3 class="text-base font-semibold leading-7 text-gray-900">
          Adicionar canais <%=nome%> para notificar novos vídeos
        </h3>
        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
          Ao adicionar um canal na lista você receberá notificações toda vez que um
          vídeo novo for postado nos canais da lista.
        </p>
      </div>
      <div class="mt-6 border-t border-purple-300">
        <dl class="divide-y divide-green-400">
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">
              Nome do Canal
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
            >
              <%=info%>
            </dd>
          </div>
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">
              ID Canal
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
            >
              <%=info2%>
            </dd>
          </div>
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">
              Aplicado em
            </dt>
            <dd
              class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
            >
              <%=info1%>
            </dd>
          </div>
        </dl>
        </div>
          <button
          onclick="voltarAoDashboard()"
          class="bg-green-400 text-white px-5 py-2 rounded-md mt-4 mx-32"
          >
          Voltar ao Dashboard
          </button>
        </div>
        
      </div>

    </div>
    <script>
      function voltarAoDashboard() {
        window.history.back();
      }
    </script>
  </body>
</html>
