<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Discord Bot Dashboard</title>
  </head>
  <body>
    <h1>Erro ao obter dados da guilda, você não tem permissão para acessar este Servidor ou o bot talvez não esteja no Servidor!</h1>
    
    <a href="/dashboard">
      <button>Voltar ao Dashboard</button>
    </a>
  </body>
</html>
