<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Divina Liricidade - DISCORD DASHBOARD</title>
  </head>
  <body>
    <h1>Dashboard Divina Liricidade</h1>

    <!-- Adicione o botão de login -->
    <a href="/auth/discord">
      <button>Fazer Login com Discord</button>
    </a>

    <!-- ... Outras partes do seu código HTML ... -->
  </body>
</html>
