<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <style>
          body {
            padding-top: 50px;
          }
        </style>
        <title>Divina Liricidade - DISCORD DASHBOARD</title>
        <head>
      </head>
      
      <body class="container">
        <a href="/auth/discord">
          <button>Fazer Login com Discord</button>
        </a>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Divina Liricidade</a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            </li>
          </ul>
        </nav>
      </header>
      
      <main>
          <div class="jumbotron">
              <h1>Boas Vindas, sou a divina liricidade, me convide para seu servidor.</h1>
              <p>DashBoard de Configuração</p>
          </div>
      </main>

      <footer>
        <p class="text-center text-muted">© Copyright 2024 SentinelData</p>
      </footer>
      
      </body>
    </html>
    
    <!-- Adicione o botão de login -->
    
