<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 150%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border-radius: 0.25rem;
        z-index: 50;
      }

      .sidebar-icon {
        border-radius: 2.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
          border-radius 1s cubic-bezier(0.075, 0.82, 0.165, 1),
          transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      .sidebar-icon:active {
        border: 1px black solid;
      }

      .sidebar-icon:hover {
        background-color: rgb(
          134,
          239,
          172
        ); /* Cor de fundo acinzentada ao passar o mouse */
        border-radius: 0.75rem; /* Arredondamento de borda */
        transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
      }

      .sidebar-icon img {
        transition: transform 0.3s ease;
      }

      .sidebar-icon:hover img {
        transform: scale(1);
      }

      .sidebar-icon:hover + .popup {
        display: block;
      }

      .dropdown-selection {
        transition: background-color 1.5s, color 1.5s; /* Adicione a transição */
      }

      .dropdown-selection:hover {
        background-color: rgba(0, 0, 0, 0); /* Altere a cor de fundo no hover */
      }

      .dropdown-selection-text:hover {
        color: #db9292; /* Altere a cor do texto no hover */
      }
    </style>
  </head>
  <body>
    <div
      id="sidebar"
      class="fixed top-0 left-0 h-screen w-20 flex flex-col items-center bg-gray-700 dark:bg-gray-900 shadow-lg divide-y-2 divide-green-300"
    >
      <div class="relative group">
        <div
          id="configuration"
          class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400"
          onclick="handleIconClick('configuration')"
        >
          <img
            src="../public/res/sidebar/fire.png"
            alt="Fire Icon"
            class="w-10 h-10 my-auto"
          />
        </div>
        <div class="popup absolute">Inicio</div>
      </div>
      <div>
        <!-- Repita o mesmo padrão para outros ícones -->
        <div class="relative group">
          <div
            id="chanels"
            class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400"
            onclick="handleIconClick('chanels')"
          >
            <img
              src="../public/res/sidebar/unknow.png"
              alt="Fire Icon"
              class="w-11 h-11 my-auto"
            />
          </div>
          <div class="popup absolute">Canais</div>
        </div>

        <div class="relative group">
          <div
            id="guild"
            class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400"
            onclick="handleIconClick('guild')"
          >
            <img
              src="../public/res/sidebar/database.png"
              alt="Fire Icon"
              class="w-10 h-10 my-auto"
            />
          </div>
          <div class="popup absolute">Guildas</div>
        </div>

        <div class="relative group">
          <div
            id="user"
            class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400"
            onclick="handleIconClick('user')"
          >
            <img
              src="../public/res/sidebar/gear2.png"
              alt="Fire Icon"
              class="w-11 h-11 ml-1.5 my-auto"
            />
          </div>
          <div class="popup absolute">Usuário</div>
        </div>
      </div>
      <div class="relative group">
        <div
          id="usage"
          class="flex justify-center sidebar-icon w-16 h-16 bg-gray-400"
          onclick="handleIconClick('usage')"
        >
          <img
            src="../public/res/sidebar/gear.png"
            alt="Fire Icon"
            class="w-11 h-11 ml-0.5 my-2"
          />
        </div>
        <div class="popup absolute">Uso</div>
      </div>
      <!-- Repita para outros ícones -->
    </div>
    <div
      id="channel-bar"
      style="z-index: -10"
      class="fixed top-0 left-20 h-screen w-52 flex flex-col items-start bg-gray-600 dark:bg-gray-900 shadow-lg"
    >
      <div
        id="configuration-sidebar"
        class="configuration-block divide-y-2 divide-green-300 mx-4 my-2 hidden"
      >
        <h5 class="text-xl channel-block-text font-bold">Configurações</h5>
        <div class="channel-bar-container">
          <div
            class="dropdown border-discord-light mt-2"
            onclick="toggleDropdown('topics')"
          >
            <div class="dropdown-header">
              <i
                id="topics-chevron"
                class="fas fa-chevron-down text-gray-400"
              ></i>
              <h5 id="topics-header" class="dropdown-header-text text-sm ml-2">
                Funções de notificação +
              </h5>
            </div>
            <div
              id="topics-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="teste('ftest')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">ftest</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
          </div>
          <div
            class="dropdown border-discord-light mt-2"
            onclick="toggleDropdown('moderation')"
          >
            <div class="dropdown-header">
              <i
                id="moderation-chevron"
                class="fas fa-chevron-down text-gray-400"
              ></i>
              <h5
                id="moderation-header"
                class="dropdown-header-text text-sm ml-2"
              >
                Adicionar canais +
              </h5>
            </div>
            <div
              id="moderation-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="selectTopic('twitch')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">Twitch</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
          </div>

          <!-- Adicione mais dropdowns conforme necessário -->
        </div>
      </div>

      <div
        id="chanels-sidebar"
        class="channel-block divide-y-2 divide-green-300 mx-4 my-2 hidden"
      >
        <h5 class="text-xl channel-block-text font-bold">Canais</h5>
        <div class="channel-bar-container">
          <div
            class="dropdown border-discord-light mt-2"
            onclick="toggleDropdown('topics')"
          >
            <div class="dropdown-header">
              <i
                id="topics-chevron"
                class="fas fa-chevron-down text-gray-400"
              ></i>
              <h5 id="topics-header" class="dropdown-header-text text-sm ml-2">
                Funções de notificação +
              </h5>
            </div>
            <div
              id="topics-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="teste('ftest')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">ftest</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
          </div>
          <div
            class="dropdown border-discord-light mt-2"
            onclick="toggleDropdown('moderation')"
          >
            <div class="dropdown-header">
              <i
                id="moderation-chevron"
                class="fas fa-chevron-down text-gray-400"
              ></i>
              <h5
                id="moderation-header"
                class="dropdown-header-text text-sm ml-2"
              >
                Adicionar canais +
              </h5>
            </div>
            <div
              id="moderation-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="selectTopic('twitch')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">Twitch</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
          </div>

          <!-- Adicione mais dropdowns conforme necessário -->
        </div>
      </div>

      <div
        id="guild-sidebar"
        class="guild-block divide-y-2 divide-green-300 mx-4 my-2 hidden"
      >
        <h5 class="text-xl channel-block-text font-bold">Guilda</h5>
        <div class="channel-bar-container">
          <div
            class="dropdown border-discord-light mt-2"
            onclick="toggleDropdown('topics')"
          >
            <div class="dropdown-header">
              <i
                id="topics-chevron"
                class="fas fa-chevron-down text-gray-400"
              ></i>
              <h5 id="topics-header" class="dropdown-header-text text-sm ml-2">
                Funções de notificação +
              </h5>
            </div>
            <div
              id="topics-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="teste('ftest')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">ftest</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
          </div>
          <div
            class="dropdown border-discord-light mt-2"
            onclick="toggleDropdown('moderation')"
          >
            <div class="dropdown-header">
              <i
                id="moderation-chevron"
                class="fas fa-chevron-down text-gray-400"
              ></i>
              <h5
                id="moderation-header"
                class="dropdown-header-text text-sm ml-2"
              >
                Adicionar canais +
              </h5>
            </div>
            <div
              id="moderation-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="selectTopic('twitch')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">Twitch</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
          </div>

          <!-- Adicione mais dropdowns conforme necessário -->
        </div>
      </div>


      <div
        id="user-sidebar"
        class="user-block divide-y-2 divide-green-300 mx-4 my-2 hidden"
      >
        <h5 class="text-xl channel-block-text font-bold">Usuário</h5>
        <div class="channel-bar-container">
          <div
            class="dropdown border-discord-light mt-2"
            onclick="toggleDropdown('topics')"
          >
            <div class="dropdown-header">
              <i
                id="topics-chevron"
                class="fas fa-chevron-down text-gray-400"
              ></i>
              <h5 id="topics-header" class="dropdown-header-text text-sm ml-2">
                Funções de notificação +
              </h5>
            </div>
            <div
              id="topics-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="teste('ftest')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">ftest</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
            <div
              id="moderation-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="selectTopic('twitch')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">Twitch</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
          </div>

          <!-- Adicione mais dropdowns conforme necessário -->
        </div>
      </div>

      <div
        id="usage-sidebar"
        class="user-block divide-y-2 divide-green-300 mx-4 my-2 hidden"
      >
        <h5 class="text-xl channel-block-text font-bold">Uso</h5>
        <div class="channel-bar-container">
          <div
            class="dropdown border-discord-light mt-2"
            onclick="toggleDropdown('topics')"
          >
            <div class="dropdown-header">
              <i
                id="topics-chevron"
                class="fas fa-chevron-down text-gray-400"
              ></i>
              <h5 id="topics-header" class="dropdown-header-text text-sm ml-2">
                Funções de notificação +
              </h5>
            </div>
            <div
              id="topics-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="teste('ftest')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">ftest</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
            <div
              id="moderation-dropdown"
              class="dropdown-content hidden ml-4 text-sm"
            >
              <div class="dropdown-selection" onclick="selectTopic('youtube')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">
                  Youtube
                </h5>
              </div>
              <div class="dropdown-selection" onclick="selectTopic('twitch')">
                <i class="fas fa-hashtag text-gray-400"></i>
                <h5 class="dropdown-selection-text hover:text-white">Twitch</h5>
                <i class="fas fa-hashtag text-gray-400"></i>
              </div>
            </div>
          </div>

          <!-- Adicione mais dropdowns conforme necessário -->
        </div>
      </div>
    </div>
    <div
      id="top-bar"
      class="fixed top-0 left-72 right-0 h-12 flex bg-gray-600 dark:bg-gray-900 shadow-lg divide-y-2 divide-green-300"
    >
      <div class="flex items-center my-auto ml-4">
        <h5 class="text-xl channel-block-text font-bold">Pagina principal</h5>
      </div>

      <div class="flex items-center ml-auto mr-4">
        <input
          id="searchInput"
          class="search-input w-48"
          type="text"
          placeholder=" Ajuda ?"
        />
      </div>

      <div class="flex items-center mr-4">
        <div class="relative group">
          <div
            class="flex justify-center sidebar-icon w-8 h-8 bg-gray-400"
            onclick="handleIconClick('gear')"
          >
            <img
              src="../public/res/sidebar/fire.png"
              alt="Fire Icon"
              class="w-7 h-7 my-auto"
            />
          </div>
          <div class="popup absolute" style="top: 150%; left: 50%">Fire</div>
        </div>
      </div>
    </div>

    <script>
      function handleIconClick(btnId) {
        const Configuration = document.getElementById(`configuration-sidebar`);
        const Chanels = document.getElementById(`chanels-sidebar`);
        const Guild = document.getElementById(`guild-sidebar`);
        const User = document.getElementById(`user-sidebar`);
        const Usage = document.getElementById(`usage-sidebar`);
        const sidebar = document.getElementById(`${btnId}-sidebar`);
        
        if (!Configuration.classList.contains("hidden")) {
          Configuration.classList.toggle("hidden");
        }

        if (!Chanels.classList.contains("hidden")) {
          Chanels.classList.toggle("hidden");
        }
        if (!Guild.classList.contains("hidden")) {
          Guild.classList.toggle("hidden");
        }
        if (!User.classList.contains("hidden")) {
          User.classList.toggle("hidden");
        }
        if (!Usage.classList.contains("hidden")) {
          Usage.classList.toggle("hidden");
        }
        sidebar.classList.toggle("hidden");
      }

      function toggleDropdown(type) {
        const chevron = document.getElementById(`${type}-chevron`);
        const dropdown = document.getElementById(`${type}-dropdown`);

        dropdown.classList.toggle("hidden");
        chevron.className = dropdown.classList.contains("hidden")
          ? "fas fa-chevron-right text-gray-400"
          : "fas fa-chevron-down text-gray-400";
      }

      function selectTopic(topic) {
        console.log(`Selected topic: ${topic}`);
        // Adicione lógica adicional conforme necessário
      }
    </script>
  </body>
</html>
