<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página 1</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Container onde a página2.ejs será carregada -->
    <div id="conteudo-pagina2"></div>
    <!-- Script para carregar a página2.ejs -->
    <script>
      $(document).ready(function () {
        // Use a função load do jQuery para carregar a página2.ejs no contêiner
        $("#conteudo-pagina2").load("sideBar.ejs");
      });
    </script>
    <div class="pl-1 ml-72 mt-12">
        <h1>Página 1</h1>
    </div>
    
  </body>
</html>
